body {
  font-family: Arial, sans-serif;
  margin: 0;
}
main {
  margin-top: 70px;
}

.container{
  font-size: 16px;
  width: 90vw;
  max-width: 37.5em;
  padding: 3em 1.8em;
  background-color: #1e293b;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
  
}
.buscador{
  
}

#search-container {
  position: absolute;
  top: 340px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}

.search-container{
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
  


}
.search-container input ,.search-container button{
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;

}

.search-container input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  color: #fff;
  padding: 0.7em;

}


.search-container input:focus{
  border-color: #ffb92a;
  border: none;
  cursor: pointer;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/* Estilos para la ventana emergente */
.modal {
  display: none; /* Oculta la ventana emergente por defecto */
  position: fixed; /* Permite que la ventana se mantenga en la misma posición mientras se desplaza la página */
  z-index: 1; /* Coloca la ventana emergente en la parte superior */
  padding-top: 100px; /* Añade un espacio encima de la ventana emergente */
  left: 0;
  top: 0;
  width: 100%; /* Hace que la ventana emergente ocupe el ancho completo de la pantalla */
  height: 100%; /* Hace que la ventana emergente ocupe la altura completa de la pantalla */
  overflow: auto; /* Permite desplazar el contenido de la ventana emergente */
  background-color: rgba(0, 0, 0, 0.4); /* Añade un fondo oscuro semi-transparente detrás de la ventana emergente */
}

/* Estilos para el contenido de la ventana emergente */
.modal-content {
  background-color: #fefefe; /* Color de fondo del contenido de la ventana emergente */
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del contenido de la ventana emergente */
}

/* Estilos para el botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pie_pagina {
  position: absolute;
  bottom: -6;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}


header h1 {
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px;
}

h2 {
  font-size: 24px;
}

.peliculas {
  margin: 0;
  padding: 0;
  list-style: none;
}

.peliculas li {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  vertical-align: top;
}

.peliculas li img {
  width: 100%;
}

.peliculas li h3 {
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#result{
  color:#fff;
}

.info{
  position:relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin-top: 1.2em;

}

.poster{
  width: 100%;
}

.buscador{
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.rating{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0;
}

.rating img{
  width: 1.2em;

}
.rating h4{
  display: inline_block;
  font-size: 1.1em;
  font-weight: 500;

}

.details{
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: #a0a0a0;
  margin: 0.6em 0;
  font-weight: 300;
}
.genre{
  display: flex;
  justify-content: space-around;
}

.genre div{
  border: 1px solid #a0a0a0;
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;


}


h3{
  font-weight: 500;
  margin-top: 1.2em;

}

p{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: #a0a0a0;
}

@media screen and (max-width: 600px){
  .container{
    font-size: 14px;
  }
  .poster{
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
  .info{
    grid-template-columns: 1fr;
  }
  .agregado {
    padding: 20px;
    width: 30%;
    height: 30%;
  }
  
  
  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-top: 20px;
    width: 40%;
  }
  
  .slide {
    flex-shrink: 0;
    width: 150px;
    height: 250px;
    margin-right: 10px;
    scroll-snap-align: start;
    position: relative;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .slide p {
    margin: 0;
    font-size: 0.8rem;
  }
  
  @media (min-width: 768px) {
    .slide {
      width: 200px;
      height: 300px;
    }
  }
  
  
  
  
}
